<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote text-center p-3">
            <p class="mb-0">One Recipe to rule them all, One Recipe to find them, One Recipe to bring them all and in the darkness bind them.</p>
            <p class="blockquote-footer">A Recipe Maker from the fires of <cite title="Source Title">Mount Doom</cite></p>
          </blockquote>
          <app-signin></app-signin>
          <hr class="my-4">
          <app-signup></app-signup>
        </div>
      </div>
    </div>
  </div>
</div>
