.card {
  border: 1px solid #e2e2e2;
  border-radius: 1rem;
  box-shadow: 0 0 1px #888;
}

.card-body {
  padding: 2rem;
}

:host ::ng-deep input {
  border-radius: 1rem;
}

:host ::ng-deep button {
  font-size: 80%;
  border-radius: 2rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.75rem;
  transition: all 0.2s;
}
