<form class="needs-validation" [formGroup]="form" (ngSubmit)="onAdd()">
  <div class="form-row">
    <div class="col-md-3 mb-2">
      <label for="ingredientName" class="sr-only">Ingredient</label>
      <input type="text" class="form-control" placeholder="Ingredient" id="ingredientName" formControlName="ingredientName" [ngClass]="{'is-invalid': !isControlValid('ingredientName')}">
      <div class="invalid-feedback">
        Please enter a valid name.
      </div>
    </div>
    <div class="col-md-2 mb-2">
      <label for="ingredientAmount" class="sr-only">Amount</label>
      <input type="number" class="form-control" placeholder="Amount" id="ingredientAmount" formControlName="ingredientAmount" [ngClass]="{'is-invalid': !isControlValid('ingredientAmount')}">
      <div class="invalid-feedback">
        Please enter a valid amount.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success mb-2 mr-2" [disabled]="form.invalid">Add</button>
  <button type="reset" class="btn btn-primary mb-2 mr-2" (click)="onClear()">Clear</button>
</form>
