<form *ngIf="showForm" [@fadeIn] [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <h6>Sign up</h6>

  <div class="form-group">
    <label class="sr-only" for="email">Email</label>
    <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email">
  </div>

  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password">
  </div>

  <button type="button" class="btn btn-info btn-block text-uppercase" (click)="onCancelForm()">Cancel</button>
  <button type="submit" class="btn btn-success btn-block text-uppercase" [disabled]="form.invalid">Sign up</button>
</form>

<div *ngIf="!showForm" [@fadeIn]>
  <button type="button" class="btn btn-google btn-block text-uppercase" (click)="onContinueWithGoogle()">
    <i class="fa fa-google mr-2"></i> Continue with Google
  </button>
  <button type="button" class="btn btn-facebook btn-block text-uppercase" (click)="onContinueWithFacebook()">
    <i class="fa fa-facebook-f mr-2"></i> Continue with Facebook
  </button>
  <button type="button" class="btn btn-info btn-block text-uppercase" (click)="onShowForm()">
    <i class="fa fa-at mr-2"></i> Continue with Email
  </button>
</div>
