<div class="d-flex align-items-center">
  <span id="ingredientName" class="mr-auto">{{ ingredient.name }}</span>
  <span id="ingredientAmount" class="badge badge-primary badge-pill mr-2" [@amountAnimation]="ingredient.amount">{{ ingredient.amount }}</span>
  <button type="button" id="incrementButton" class="btn btn-sm btn-outline-success mr-2" (click)="onIncrementAmount()">
    <i class="fas fa-plus"></i>
  </button>
  <button type="button" id="decrementButton" class="btn btn-sm btn-outline-warning mr-2" (click)="onDecrementAmount()" [disabled]="!isDecrementEnabled">
    <i class="fas fa-minus"></i>
  </button>
  <button type="button" id="removeButton" class="btn btn-sm btn-outline-danger" (click)="onRemoveIngredient()">
    <i class="fas fa-times"></i>
  </button>
</div>
